        *{
            margin:0;
            padding:0;
            box-sizing:border-box;
        }

        nav{
            background-color: #918b8b;
            padding: 15px;
        }

        nav ul{
            display: flex;          
            list-style: none;
            justify-content: center; 
            align-items: center;
            gap: 30px;              
        }

        nav ul li a{
            text-decoration: none;
            color: white;
            font-size: 18px;
            padding: 8px 15px;
        }

        nav ul li a:hover{
            background-color: #555;
            border-radius: 5px;
        }
        
#content{
    border: 1px  solid black;
    height: 500PX;
    /* W: 50px; */
    display: block;
    justify-content: space-evenly;
    border:none;
}    

u{
    color:black
}
.inside{
      border: 1px  solid black;
    height: 150PX;
    border: none;
}
#parent{
    justify-content: center;
}
#main{
     border: 1px  solid black;
    height: 500PX;
    border: none;
}

